In [13]:
import pandas as pd
df = pd.read_csv('C:\Users\ushasree K\Desktop\pandas\SIC-Code-List')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-13-a3876cf17c91>, line 2)

In [ ]:
import pandas as pd
df = pd.read_csv("C:\Users\ushasree K\Desktop\pandas")

In [14]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ushasree K\Desktop\pandas\sample.csv")
df

   Index     Name      Fav_Color       Place
0      1     Usha           Teal    Kakinada
1      2   Anusha  White & Black   Australia
2      3  Sirisha           Aqua  Vijayawada
3      4   Swathi          Green   Hyderabad
4      5  Lalitha         Purple   Hyderabad
5      6   Vasavi           Blue    Kakinada

In [15]:
import pandas as pd
friends = {
    'Index' :['0', '1', '2', '3', '4', '5'],
    'Name' :['Usha', 'Anusha', 'Sirisha', 'Swathi', 'Lalitha', 'Vasavi'],
    'Fav_Color':['Teal', 'White & Black', 'Aqua', 'Green', 'Purple', 'Blue'],
    'Place':['Kakinada','Australia','Vijayawada','Hyderabad','Hyderabad','Kakinada']
}
df = pd.DataFrame(friends)
df

  Index     Name      Fav_Color       Place
0     0     Usha           Teal    Kakinada
1     1   Anusha  White & Black   Australia
2     2  Sirisha           Aqua  Vijayawada
3     3   Swathi          Green   Hyderabad
4     4  Lalitha         Purple   Hyderabad
5     5   Vasavi           Blue    Kakinada

In [16]:
df.shape

(6, 4)

In [17]:
rows,columns = df.shape

In [18]:
rows

6

In [19]:
columns

4

In [21]:
df.head(2)

  Index    Name      Fav_Color      Place
0     0    Usha           Teal   Kakinada
1     1  Anusha  White & Black  Australia

In [22]:
df.tail(3)

  Index     Name Fav_Color      Place
3     3   Swathi     Green  Hyderabad
4     4  Lalitha    Purple  Hyderabad
5     5   Vasavi      Blue   Kakinada

In [23]:
type(df['Name'])

pandas.core.series.Series

In [25]:
df.describe()

       Index    Name Fav_Color      Place
count      6       6         6          6
unique     6       6         6          4
top        1  Vasavi    Purple  Hyderabad
freq       1       1         1          2

In [29]:
df[df.Place ==df['Place'].max()]

  Index     Name Fav_Color       Place
2     2  Sirisha      Aqua  Vijayawada

In [32]:
df.set_index('Index')

          Name      Fav_Color       Place
Index
0         Usha           Teal    Kakinada
1       Anusha  White & Black   Australia
2      Sirisha           Aqua  Vijayawada
3       Swathi          Green   Hyderabad
4      Lalitha         Purple   Hyderabad
5       Vasavi           Blue    Kakinada

In [33]:
df

  Index     Name      Fav_Color       Place
0     0     Usha           Teal    Kakinada
1     1   Anusha  White & Black   Australia
2     2  Sirisha           Aqua  Vijayawada
3     3   Swathi          Green   Hyderabad
4     4  Lalitha         Purple   Hyderabad
5     5   Vasavi           Blue    Kakinada

In [34]:
df.set_index('Name', inplace=True)
df

        Index      Fav_Color       Place
Name
Usha        0           Teal    Kakinada
Anusha      1  White & Black   Australia
Sirisha     2           Aqua  Vijayawada
Swathi      3          Green   Hyderabad
Lalitha     4         Purple   Hyderabad
Vasavi      5           Blue    Kakinada